@import 'src/styles/mixins/scrollbar.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';

.wrapper {
  height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar(6px, black);
  margin: 20px;
  .projectsList {
    margin: 0 60px;
  }

  .obs {
    background-color: black;
    height: 4px;
    width: 100%;
    bottom: 0;
  }
}

.wrapperLoading {
  @include contentCenterFlex;
}
