@import 'src/styles/mixins/scrollbar.scss';

.wrapper {
  grid-area: profileContent;
  background-color: rgb(230, 230, 230);
  border-radius: 24px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  @include scrollbar(6px, black);



}
