.profileInfo {
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 0;
  border-bottom: 1px solid rgb(214, 214, 214);
  .greeting {
    font-size: 20px;
    margin: 0 0 0 10px;
    .user-name {
      font-weight: 500;
    }
  }

  .profilePhotoWrapper {
    position: relative;
    .photo {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
    .photoInput{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      cursor: pointer;

    }
  }
}
