@import 'src/styles/mixins/menu.scss';

.profileInfo {
  height: 160px;
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 0;
  border-bottom: 1px solid rgb(214, 214, 214);
  .greeting {
    font-size: 20px;
    margin: 0 0 0 10px;
    .user-name {
      font-weight: 500;
    }
  }

  .profilePhotoWrapper {
    position: relative;
    .photo {
      cursor: pointer;
      border-radius: 100%;
    }
    .dotMenuWrapper {
      cursor: pointer;
      position: absolute;
      top: 45px;
      right: -20px;
      transform: rotate(90deg);
    }

  }
}
