@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/mainButton.scss';

.wrapper {
  width: 40vw;
  height: 40vh;
  text-align: center;
  @include contentCenterFlex;
  @media screen and (max-width: 768px) {
    height: 50vh;
    width: 60vw;
  }
  flex-direction: column;
  .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    @media screen and (max-width: 420) {
      font-size: 20px;
    }
  }
  .link {
    @include contentCenterFlex;
    @include mainButton(#3939bd, #262690);
  }
}
