@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/mainButton.scss';
@import 'src/styles/mixins/scrollbar.scss';

.projectwrapper {
  width: 100%;
  height: 100%;
  @include contentCenterFlex;
  padding: 18px 10px 0;
  box-sizing: border-box;

  .content {
    width: 96%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 24px 0 0 0;
    overflow-y: auto;
    @include scrollbar(6px, black);
    position: relative;
    .dotMenuWrapper {
      position: absolute;
      top: 30px;
      right: 30px;
      transform: rotate(90deg);
      cursor: pointer;
    }
    .projectMenu {
      background-color: rgb(228, 228, 228);
      max-width: 220px;
      position: absolute;
      top: 22px;
      right: 54px;
      border-radius: 12px 0 0 0px;
      overflow: hidden;
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s, 1s;
      transition-property: opacity, visible;
      transition: 0.5s;
      .projectMenuList {
        color: black;
        .projectMenuItem {
          padding: 8px 10px;
          cursor: pointer;
        }
        .participantsMenuItem {
          &:hover {
            background-color: rgb(13, 124, 189);
            color: white;
          }
        }
        .removeMenuItem {
          &:hover {
            background-color: rgb(189, 13, 22);
            color: white;
          }
        }
      }
    }
    .projectMenuActive {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 1s;
      transition-property: opacity, visible;
      transition-duration: 0.5s 0s;
    }
    .title {
      display: block;
      margin: 20px 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .description {
      font-weight: 500;
      margin-bottom: 30px;
    }
    .taskTitle {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .noCompletedTask {
      font-size: 32px;
      text-align: center;
      margin-top: 100px;
    }
    .tasksList {
      color: black;
      .taskItem {
        background-color: rgb(228, 228, 228);
        padding: 14px;
        cursor: pointer;
        border-radius: 12px;
        margin-bottom: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: rgb(93, 134, 160);
          color: white;
        }
      }
      .taskCheckbox {
        margin-right: 10px;
      }
    }
  }
}
