@import 'src/styles/mixins/contentCenterFlex';

.modalWindowwrapper {
  transform: scale(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition-duration: 0.5s;
  @include contentCenterFlex;

  .modal {
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 16px 0 rgb(160, 160, 161);
    border-radius: 12px;
  }
}

.modalVisible {
  transform: scale(1, 1);

  .modal {
    animation-name: show-modal;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes show-modal {
      0% {
        transform: scale(0, 0);
        opacity: 0;
      }

      95% {
        opacity: 1;
      }
      100% {
        transform: scale(1, 1);
      }
    }
  }
}

.hideModal {
  visibility: hidden;
  animation-name: hide-modal;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes hide-modal {
    0% {
      transform: scale(1, 1);
    }
    95% {
      transform: scale(0.5, 0.5);
      opacity: 0;
    }
    100% {
      transform: scale(0, 0);
    }
  }
}
