@import 'src/styles/mixins/contentCenterFlex.scss';

.emptyProjectListWrapper {
  margin-top: 150px;
  @include contentCenterFlex;
  .emptyProjectsError {
    text-align: center;
    font-size: 36px;
  }
}
