@import 'src/styles/mixins/contentCenterFlex.scss';

.emptyProjectListWrapper {
  height: calc(100vh - 220px);

  @include contentCenterFlex;
  .emptyProjectsError {
    text-align: center;
    font-size: 36px;
  }
}
