.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr minmax(200px, 300px) ;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas:
    'header header header'
    'profileNav profileContent profileInfo'
    'profileNav profileContent profileInfo';
}
