@import 'src/styles/mixins/mainButton.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/profileIconWrapper.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr minmax(100px, 300px);
  align-items: center;
  position: relative;
  .logoIcon {
    margin: 0 20px;
    @media screen and (max-width: 440px) {
      margin: 0 20px 0 -16px;
    }
  }

  .contactsIconWrapper {
    visibility: hidden;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(160, 160, 160);
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 76px;
    @media screen and (max-width: 787px) {
      visibility: visible;
    }
  }
  .addProjectBtn {
    display: block;
    @include mainButton(#5293db, #3a76b8);
    @include contentCenterFlex;
    width: 180px;
    border-radius: 20px;
    margin: 0 20px 0 auto;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  .projIconWrapper,
  .projIconWrapperMenu {
    visibility: hidden;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(160, 160, 160);
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 182px;
    @media screen and (max-width: 520px) {
      visibility: visible;
    }
    @media screen and (max-width: 379px) {
      visibility: hidden;
    }
  }

  .projIconWrapperMenu {
    right: 130px;
  }
  .bellIconWrapper {
    width: 24px;
    height: 24px;
    margin: 0 20px 0 auto;
    position: absolute;
    top: 20px;
    right: 0px;
    @include profleIconWrapper;
  }
}
