@import 'src/styles/mixins/mainButton.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/profileIconWrapper.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/iconWrapper.scss';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr minmax(100px, 300px);
  align-items: center;
  position: relative;
  .logoIcon {
    margin: 0 20px;
    @media screen and (max-width: 440px) {
      margin: 0 20px 0 -16px;
    }
  }

  .addProjectBtn {
    display: block;
    @include mainButton(#5293db, #3a76b8);
    @include contentCenterFlex;
    width: 180px;
    border-radius: 20px;
    margin: 0 20px 0 auto;
    @media screen and (max-width: 520px) {
      display: none;
    }
  }

  .taskIconWrapper {
    @include iconWrapper;
    right: 172px;
    @media screen and (max-width: 520px) {
      visibility: visible;
    }
    @media screen and (max-width: 379px) {
      visibility: hidden;
    }
  }
  .projIconWrapper {
    @include iconWrapper;
    right: 122px;
    @media screen and (max-width: 520px) {
      visibility: visible;
    }
    @media screen and (max-width: 319px) {
      visibility: hidden;
    }
  }

  .contactsIconProfileWrapper {
    @include iconWrapper;
    right: 66px;
    @media screen and (max-width: 787px) {
      visibility: visible;
    }
  }

  .projIconWrapperMenu {
    @include iconWrapper;
    right: 178px;
    @media screen and (max-width: 520px) {
      visibility: visible;
    }
    @media screen and (max-width: 379px) {
      visibility: hidden;
    }
  }
  .bellIconWrapper {
    width: 24px;
    height: 24px;
    margin: 0 20px 0 auto;
    position: absolute;
    top: 20px;
    right: -10px;
    @include profleIconWrapper;
  }
}
