@import 'src/styles/mixins/mainButton.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/profileIconWrapper.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr minmax(100px, 300px);
  align-items: center;
  position: relative;
  .logoIcon {
    margin: 0 20px;
  }
  .addProjectBtn {
    display: block;
    @include mainButton(#5293db, #3a76b8);
    @include contentCenterFlex;
    width: 180px;
    border-radius: 20px;
    margin: 0 20px 0 auto;
  }

  .bellIconWrapper {
    width: 24px;
    height: 24px;
    margin: 0 20px 0 auto;
    position: absolute;
    top: 20px;
    right: 0px;
    @include profleIconWrapper;

  }
}
