@import 'src/styles/mixins/scrollbar.scss';

.projectsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 270px));
  grid-auto-rows: minmax(250px, 270px);
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  .projecetItem {
    width: 240px;
    height: 240px;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 16px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    .title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .description {
      max-height: 120px;
      overflow-y: auto;
      overflow-x: hidden;
      font-weight: 500;
      @include scrollbar(6px, black);
    }
    .menu {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    .favorite {
      position: absolute;
      bottom: 10px;
      right: 50px;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}
