@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins/formNavButton';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .nextStepBtn {
    @include formNavButton(#2639dc, #1e30c9);
  }
  .prevBtn {
    @include formNavButton(#5293db, #3a76b8);
  }
  .signUpBtn {
    @include formNavButton(#0f0fba, #0c0c9e);
  }
}

.signInButton{
  @include formNavButton(#0f0fba, #0c0c9e);
  width: 226px;
  margin: auto;
}
