@import 'src/styles/mixins/profileIconWrapper.scss';

.profileNavBarwrapper {
  grid-area: profileNav;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 520px) {
    display: none;
  }
  .contactsIconWrapper {
    @include profleIconWrapper;
    .contactsIcon {
      width: 24px;
      height: 24px;
    }
  }
  .taskIconWrapper {
    display: none;
  }
  .taskIconWrapperActive {
    display: block;
  }
  .calendarIconWrapper {
    @include profleIconWrapper;

    .calendarIcon {
      width: 24px;
      height: 24px;
    }
  }
}
