@import 'src/styles/mixins/scrollbar.scss';

.projectsListWrapper {
  height: calc(100vh - 200px);
  .projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 270px));
    grid-auto-rows: minmax(250px, 270px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100%;
    overflow: auto;
    @include scrollbar(6px, black);
  }
}
