.wrapper {
  position: relative;
  z-index: 1000;
  .selectOption {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(0, 0, 0);
      position: absolute;
      transform: rotate(180deg);
      top: 6px;
      right: -16px;
    }
  }
  .optionActive {
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(0, 0, 0);
      position: absolute;
      transform: rotate(0deg);
      top: 6px;
      right: -16px;
    }
  }
  .optionList {
    position: absolute;
    left: 0;
    top: 24px;
    width: 140px;
    background: white;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s, 1s;
    transition-property: opacity, visible;
    transition: 0.5s;
    .optionItem {
      padding: 8px 12px;
      box-sizing: border-box;
      border-bottom: 1px solid rgb(214, 214, 214);
      cursor: pointer;
      &:hover {
        color: white;
        background: rgb(155, 154, 154);
      }
    }
  }
  .optionListActive {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s, 1s;
    transition-property: opacity, visible;
    transition-duration: 0.5s 0s;
  }
}
