@import 'src/styles/variables';
@import 'src/styles/mixins/scrollbar';
@import 'src/styles/mixins/textInput';
@import 'src/styles/mixins/mainButton';
@import 'src/styles/mixins/columnCenterFlex';
@import 'src/styles/mixins/scrollbar.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  @include scrollbar(6px, $primary-background-color);
  .addUserInputWrapper {
    width: 100%;
    .labelWrapper {
      width: 100%;
      text-align: left;
      .label {
        font-size: 1.25rem;
        font-weight: $font-weight-title;
        @media screen and (max-width: 425px) {
          font-size: 1.125rem;
        }
      }
    }
    .inputAndBtnWrapper {
      display: grid;
      grid-template-columns: 1fr 200px;
      .inputWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
      .input {
        @include textInput;
      }
      .inputError {
        border-bottom: 1px solid red;
      }
      @media screen and (max-width: 768px) {
        @include columnCenterFlex;
      }
    }
  }
}

.error {
  margin: 6px 0 0 0;
  text-align: center;
  color: red;
}

.submitBtnWrapper,
.addUserBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.submitBtnWrapper {
  button {
    width: 190px;
    margin: 0 auto;
  }
}
