@import 'src/styles/mixins/contentCenterFlex';

.wrapper {
  @include contentCenterFlex;
  height: calc(100vh - 60px);
  flex-direction: column;

  h3 {
    font-size: 4.5rem;
    margin-bottom: 30px;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    font-weight: 500;
  }
}
