.mainPageWrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('src/assets/images/wallpaperflare.com_wallpaper (1).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
