.profileWrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 1fr minmax(200px, 300px);
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas:
    'header header header'
    'profileNav profileContent profileInfo'
    'profileNav profileContent profileInfo';
  .profileContentwrapper {
    grid-area: profileContent;
    border: 3px solid rgb(23, 120, 199);
    border-radius: 24px 24px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
