@import 'src/styles/variables';
@import 'src/styles/mixins/columnCenterFlex';

.signUpForm,.signInForm {
  width: 720px;
  min-height: 420px;
  box-shadow: 2px 2px 24px 0px rgb(136, 147, 198);
  border-radius: $primary-border-radius;
  margin: $primary-margin;
  padding: $primary-padding;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto minmax(80px, 1fr);
  overflow: hidden;
}

.signInForm {
  grid-template-rows: auto minmax(80px, 120px);
}
