@import 'src/styles/mixins/mainButton.scss';
@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/profileIconWrapper.scss';

.wrapper {
  grid-area: header;
  display: grid;
  grid-template-columns: minmax(200px, 280px) 1fr minmax(100px, 300px);
  align-items: center;
  .logoIcon {
    margin: 0 20px;
  }
  .addProjectBtn {
    display: block;
    @include mainButton(#5293db, #3a76b8);
    width: 180px;
    border-radius: 20px;
    margin: 0 20px 0 auto;
  }
  .bellIconWrapper {
    margin: 0 20px 0 auto;
    @include profleIconWrapper;
  }
}
