@import 'src/styles/mixins/contentCenterFlex';
@import 'src/styles/mixins/mainButton';
@import 'src/styles/variables';

.greetingwrapper {
  width: 100%;
  height: calc(100vh - 60px);
  @include contentCenterFlex;
  text-align: center;
  .contentWrapper {
    margin: 0 12px;
    .title {
      font-size: 2.25rem;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .description {
      font-size: 1.5rem;
    }
    .greetingLink {
      display: block;
      @include mainButton(#1842b8, #1b1baa);
      @include contentCenterFlex;
      margin: 20px auto; 
      max-width: 240px;
      width: 100%;
    }
  }
}

