@import 'src/styles/mixins/mainButton.scss';

.participantsProjectWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 270px));
  grid-auto-rows: minmax(120px, 200px);
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  .participantsProjectItem {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 12px;
    overflow: hidden;
    .memberInfoWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      .memberAvatar {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .participantsName {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .participantsEmail {
      white-space: nowrap;
      text-align: left;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .btnConteiner {
      display: flex;
      justify-content: space-between;
      .messageBtn {
        @include mainButton(#5293db, #2a66aa);
      }
      .deleteBtn {
        @include mainButton(rgb(189, 13, 22), rgb(170, 12, 19));
      }
    }
  }
}
