@import 'src/styles/mixins/projectStatusLine.scss';

.profile-nav-wrapper {
  margin: 20px 0 0;
  .profile-nav-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 20px;
    white-space: nowrap;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .profile-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 140px;
    margin-bottom: 16px;
    &__item {
      width: 100px;
    }
    &__title {
      text-align: left;
      color: rgb(136, 136, 136);
      margin-bottom: 4px;
    }
    .count {
      display: block;
      font-size: 20px;
      font-weight: 500;
      position: relative;
    }
    &__totalProjects {
      @include projectStatusLine(rgb(105, 13, 148));
    }
    &__completed {
      @include projectStatusLine(rgb(13, 143, 148));
    }
    &__inProgres {
      @include projectStatusLine(rgb(214, 129, 31));
    }
    &__suspended {
      @include projectStatusLine(rgb(207, 20, 20));
    }
    &__totalTask {
      @include projectStatusLine(rgb(105, 135, 155));
    }
    &__completedTasks {
      @include projectStatusLine(rgb(12, 161, 49));
    }
  }
}
