@import 'src/styles/mixins/projectStatusLine.scss';

.wrapper {
  grid-area: profileInfo;
  .profile-info {
    height: 160px;
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 0;
    border-bottom: 1px solid rgb(214, 214, 214);
    &__greeting {
      font-size: 20px;
      margin: 0 0 0 10px;
      div {
        margin-bottom: 4px;
      }
    }
    &__user-name {
      font-weight: 500;
    }
    .profile-photo {
      position: relative;
      &__photo {
        cursor: pointer;
        border-radius: 100%;
      }
      &__menu-wrapper {
        cursor: pointer;
        position: absolute;
        top: 45px;
        right: -20px;
        transform: rotate(90deg);
      }
    }
  }
  .profile-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 140px;
    &__project {
      width: 100px;
    }
    &__title {
      text-align: left;
      color: rgb(136, 136, 136);
      margin-bottom: 4px;
    }
    .count {
      display: block;
      font-size: 22px;
      font-weight: 500;
      position: relative;
    }
    &__totalProjects {
      @include projectStatusLine(rgb(105, 13, 148));
    }
    &__completed {
      @include projectStatusLine(rgb(13, 143, 148));
    }
    &__inProgres {
      @include projectStatusLine(rgb(214, 129, 31));
    }
    &__suspended {
      @include projectStatusLine(rgb(207, 20, 20));
    }
  }
}
