@import 'src/styles/mixins/textInput.scss';
.contentHeder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  .projectsTitle {
    h3 {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .searchProjectInputWrapper {
    width: 100%;
    margin-right: 30px;
    .searchProjectInput {
      @include textInput;
      max-width: 400px;
    }
  }
}
