.contentHeared {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 116px;
  .projectViewBtns {
    margin: 20px;
    @media screen and (max-width: 820px) {
      flex-direction: column;
      width: 30px;
    }
    img {
      width: 30px;
      height: 30px;
      opacity: 0.4;
      cursor: pointer;
      &:first-child {
        margin-right: 20px;
        @media screen and (max-width: 820px) {
          margin: 0 0 10px 0;
        }
      }
    }
    .sortByViewActive {
      opacity: 1;
    }
  }
  .projectsTitle{
    margin-right: 20px;
    h3{
      font-size: 20px;
      font-weight: 500;
    }
  }
}
