@import 'src/styles/mixins/columnCenterFlex';
@import 'src/styles/mixins/textInput';
@import 'src/styles/variables';

.wrapper {
  @include columnCenterFlex;
  width: 100%;
  margin-bottom: 6px;
  .labelWrapper {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    .label {
      font-size: 1.25rem;
      font-weight: $font-weight-title;
      @media screen and (max-width: 425px) {
        font-size: 1.125rem;
      }
    }
  }

  .input,
  .select,
  .textarea {
    @include textInput;
  }

  .textarea {
    border: 1px solid #4780ce;
    resize: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &:focus {
      border: 1px solid #4780ce;
      box-shadow: none;
    }
  }

  .inputError,
  .selectError {
    border-bottom: 1px solid red;
  }

  .textareaError {
    border: 1px solid red;
  }

  .error {
    color: red;
    font-size: 16px;
  }
}

.selectWrapper {
  position: relative;
  z-index: 1000;
  .selectOption {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(0, 0, 0);
      position: absolute;
      transform: rotate(180deg);
      top: 6px;
      right: -16px;
    }
  }
  .optionActive {
    position: relative;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid rgb(0, 0, 0);
      position: absolute;
      transform: rotate(0deg);
      top: 6px;
      right: -16px;
    }
  }
  .optionList {
    position: absolute;
    top: 24px;
    left: 0;
    width: 140px;
    background: white;

    .optionItem {
      padding: 8px 12px;
      box-sizing: border-box;
      border-bottom: 1px solid rgb(214, 214, 214);
      cursor: pointer;
      &:hover {
        color: white;
        background: rgb(155, 154, 154);
      }
    }
  }
}
