@import 'src/styles/mixins/columnCenterFlex';
@import 'src/styles/mixins/textInput';
@import 'src/styles/variables';

.wrapper {
  @include columnCenterFlex;
  width: 100%;
  margin-bottom: 6px;
  .labelWrapper {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    .label {
      font-size: 1.25rem;
      font-weight: $font-weight-title;
      @media screen and (max-width: 425px) {
        font-size: 1.125rem;
      }
    }
  }

  .input,
  .select,
  .textarea {
    @include textInput;
  }

  .textarea {
    border: 1px solid #4780ce;
    resize: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &:focus {
      border: 1px solid #4780ce;
      box-shadow: none;
    }
  }

  .inputError,
  .selectError {
    border-bottom: 1px solid red;
  }

  .textareaError {
    border: 1px solid red;
  }

  .error {
    color: red;
    font-size: 16px;
  }
}
