@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/scrollbar.scss';

.projectItem {
  height: 240px;
  background-color: white;
  border: 2px solid rgb(6, 58, 94);
  color: black;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .descriptionBlock {
    max-height: 120px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    @include scrollbar(6px, black);
    .description {
      font-weight: 500;
    }
  }
  .menu {
    width: 40px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    @include contentCenterFlex;
  }
  .favorite {
    position: absolute;
    bottom: 10px;
    right: 50px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
