@import 'src/styles/variables';
@import 'src/styles/mixins/columnCenterFlex.scss';
@import 'src/styles/mixins/textInput.scss';

.addUserInputWrapper {
  width: 100%;
  .labelWrapper {
    width: 100%;
    text-align: left;
    .label {
      font-size: 1.25rem;
      font-weight: $font-weight-title;
      @media screen and (max-width: 425px) {
        font-size: 1.125rem;
      }
    }
  }
  .inputAndBtnWrapper {
    display: grid;
    grid-template-columns: 1fr 200px;
    .inputWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    .input {
      @include textInput;
    }
    .inputError {
      border-bottom: 1px solid red;
    }
    @media screen and (max-width: 768px) {
      @include columnCenterFlex;
    }
  }
}
