@import 'src/styles/mixins/contentCenterFlex.scss';
@import 'src/styles/mixins/scrollbar.scss';
.tasksList {
  color: black;
  .taskItemWrapper {
    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: rgb(228, 228, 228);
    &:hover {
      background-color: rgb(93, 134, 160);
      color: white;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .taskItem {
      padding: 12px;
      cursor: pointer;
      border-radius: 12px;
      span {
        line-height: 120%;
      }
    }
  }
  .taskComplete {
    background-color: rgb(25, 153, 36);
    &:hover {
      background-color: rgb(16, 126, 26);
      color: white;
    }
    span {
      color: white;
    }
  }
  .taskCheckbox {
    margin-right: 10px;
  }
}
.errorWrapper {
  height: calc(100vh - 420px);
  p {
    font-size: 36px;
    font-weight: 500;
  }
  @include contentCenterFlex;
}
